<a href="https://colab.research.google.com/github/sh-biswas/demand-forecasting_Cogs109Final/blob/master/Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline

In [ ]:
data_train = 'https://raw.githubusercontent.com/sh-biswas/demand-forecasting_Cogs109Final/master/train.csv'
train = pd.read_csv(data_train)

In [ ]:
train.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [ ]:
data_test = 'https://raw.githubusercontent.com/sh-biswas/demand-forecasting_Cogs109Final/master/test.csv'
test = pd.read_csv(data_test)
test.drop('id', inplace=True, axis=1)
test.head()

         date  store  item
0  2018-01-01      1     1
1  2018-01-02      1     1
2  2018-01-03      1     1
3  2018-01-04      1     1
4  2018-01-05      1     1

Check if there are any null values

In [ ]:
train.isnull().sum()

date     0
store    0
item     0
sales    0
dtype: int64

In [ ]:
test.isnull().sum()

date     0
store    0
item     0
dtype: int64

There are no null values in both our test and train datasets.

How many different stores are there in the train dataset?

In [ ]:
stores = train.store.unique().sum()
print(stores)

55

How many different items in the train dataset?

In [ ]:
items = train.item.unique().sum()
print(items)

1275

In [1]:
#train.plot('date', 'sales')

In [ ]:
train.head(50)

          date  store  item  sales
0   2013-01-01      1     1     13
1   2013-01-02      1     1     11
2   2013-01-03      1     1     14
3   2013-01-04      1     1     13
4   2013-01-05      1     1     10
5   2013-01-06      1     1     12
6   2013-01-07      1     1     10
7   2013-01-08      1     1      9
8   2013-01-09      1     1     12
9   2013-01-10      1     1      9
10  2013-01-11      1     1      9
11  2013-01-12      1     1      7
12  2013-01-13      1     1     10
13  2013-01-14      1     1     12
14  2013-01-15      1     1      5
15  2013-01-16      1     1      7
16  2013-01-17      1     1     16
17  2013-01-18      1     1      7
18  2013-01-19      1     1     18
19  2013-01-20      1     1     15
20  2013-01-21      1     1      8
21  2013-01-22      1     1      7
22  2013-01-23      1     1      9
23  2013-01-24      1     1      8
24  2013-01-25      1     1     14
25  2013-01-26      1     1     12
26  2013-01-27      1     1     12
27  2013-01-28      1     1     11
28  2013-01-29      1     1      6
29  2013-01-30      1     1      9
30  2013-01-31      1     1     13
31  2013-02-01      1     1     11
32  2013-02-02      1     1     21
33  2013-02-03      1     1     15
34  2013-02-04      1     1     14
35  2013-02-05      1     1      9
36  2013-02-06      1     1     10
37  2013-02-07      1     1     13
38  2013-02-08      1     1     11
39  2013-02-09      1     1     14
40  2013-02-10      1     1     11
41  2013-02-11      1     1     16
42  2013-02-12      1     1     11
43  2013-02-13      1     1     14
44  2013-02-14      1     1     10
45  2013-02-15      1     1     11
46  2013-02-16      1     1      7
47  2013-02-17      1     1     11
48  2013-02-18      1     1     10
49  2013-02-19      1     1     10